  <div id="main_heading">
    <div id="heading">Sample App in Rails</div>
  </div>
  <ul class="list">
    <li class="list_item"><%= link_to "Home", root_path %></li>
    <li class="list_item"><%= link_to("About", static_pages_about_path) %></li>
    <li class="list_item"><%= link_to("Help", static_pages_help_path) %></li>
  </ul>
