body{
  background: white;
  padding-top: 70px;
}


.navbar-inner{

  background-color: #F64747;
  background-image: none;
  background-repeat: no-repeat;
  border: none;
}

.navbar .nav > li > a{

  color: white;
}

.navbar .nav > li > a:hover {
  color: black;
  background-color: white;
}


.logo {
  margin-left: 15px;
  margin-top: 4px;
  width: 42px;
  height: 42x;
}


  /* Small Devices, Tablets */

@media only screen and (min-width : 480px) {



}

