body{

  background: #fff;
  margin: 0px;
  padding: 0px;
}


#main_heading{
  background: #607D8B;
  padding: 20px 0px 20px 0px;
  box-shadow: 1px 3px 3px #b6b6b6;
}

#heading{
  text-align: center;
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;


}

.list{
  text-align: center;
  padding: 0px;
}

.list_item{

  list-style: none;
  display: inline-block;
  padding: 5px 5px 5px 5px;
  font-size: 18px;
}

ul > li > a, ul > li > a:visited {
  text-decoration: none;
  color: blue;
}

p{

  padding: 15px 30px 15px 30px;
}
